
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<button id="buttonUser">Hämta användare</button>
<div id="result"></div>

<button id="buttonEvent">Hämta Event</button>
<div id="result1"></div>

<button id="buttonCreate">Skapa event</button>
<div id="result2"></div>*@